*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: aqua;
    color:rgb(206, 11, 11);
    height:5rem;
    line-height: 5rem;

}
.choice{
    height:165px;
    width:165px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    gap:3rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.choice:hover{
    background-color: aquamarine;
    cursor: pointer;

}
.score_board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:3rem;
    margin-top: 3rem;
}
#User,#comp{
    margin-top: 5rem;
}
.msg-container{

}
#msg{
    background-color: cadetblue;
    font-size: 2rem;
    color:aquamarine;
    display:inline;
    padding:1rem;
    border-radius: 1rem;
}